<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Total Time Passed</title>
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            height: 80vh;
            background-color: wheat;
        }

        h1 {
            text-align: center;
            margin: 2rem;
            font-size: 3rem;
        }

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            background-color: red;
            border: none;
            padding: 1rem;
            width: 15rem;
            margin: 0 auto;
            border-radius: 1rem;
            font-weight: 800;
        }
    </style>
</head>

<body>
    <h1>Total Time Passed</h1>

    <form action="/start" method="GET">
        <button style="background-color: green;">
            Start Timer
        </button>
    </form>
</body>

</html>